<div class="h-full">
  <ng-container *ngIf="activity; else addActivity">
    <div
      class="image-container"
      [ngClass]="{
        'category-park': activity.category === 'Parks',
        'category-bar': activity.category === 'Bars',
        'category-restaurant': activity.category === 'Restaurants'
      }"
    >
      <img [src]="activity.image" alt="image" class="max-w-none grayscale" />
      <div class="delete-container">
        <!-- TODO refactor to one method deleteActivity -->
        <div
          (click)="deleteActivity()"
          class="delete-icon absolute top-0 right-0 w-[5rem] h-[5rem] bg-red-500 shadow-lg shadow-red-500/50 z-10 ease-in-out duration-500"
        ></div>

        <i
          (click)="deleteActivity()"
          class="fa-solid fa-trash-can absolute top-0 right-0 z-10 p-2 ease-in-out duration-500 text-white"
        ></i>
      </div>
    </div>
    <div class="absolute bottom-0 z-10 p-2 w-full">
      <app-activity-button
        (click)="showDescription = true"
        [activity]="activity"
      >
        <app-category-icon
          [category]="activity.category"
          class="mr-1"
        ></app-category-icon
        >{{ activity.name }}
      </app-activity-button>
    </div>
  </ng-container>
  <div
    *ngIf="showDescription"
    class="top-0 left-0 absolute w-full h-full bg-black/70 z-50 flex justify-center items-center text-white"
  >
    {{ activity.description }}
    <div class="absolute bottom-0 z-10 p-2 w-full">
      <app-activity-button
        (click)="showDescription = false"
        [activity]="activity"
        ><i class="fa-solid fa-circle-xmark"></i
      ></app-activity-button>
    </div>
  </div>
</div>
<ng-template #addActivity
  ><div class="add-activity h-full flex items-center justify-center">
    <span
      class="rounded-full bg-gray-100 w-16 h-16 flex items-center justify-center hover:w-[1000px] hover:h-[1000px] ease-in-out duration-500"
      ><i class="fa-solid fa-plus text-lg"></i
    ></span></div
></ng-template>
