<ng-container *ngIf="modalService.showModal">
  <div class="modal">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias commodi
    officiis necessitatibus corporis! Ut eos harum, beatae sint, fuga a ad dolor
    veniam esse id obcaecati? Consectetur asperiores dolore modi, aliquid
    inventore id officiis explicabo reiciendis atque aliquam aperiam. Quia
    porro, nesciunt saepe officiis architecto optio recusandae quod perferendis
    eum!
  </div>
  <div class="overlay" (click)="modalService.showModal = false"></div>
</ng-container>
