<div class="modal overflow-hidden">
  <div class="search-header">
    <i class="fa-solid fa-magnifying-glass search-icon"></i>
    <div *ngIf="activatedCategoryFilter" class="chosen-category">
      {{ activatedCategoryFilter }}
      <span (click)="activateCategoryFilter('')"> &#10006; </span>
    </div>
    <input
      [formControl]="searchInput"
      autocomplete="off"
      placeholder="Search.."
      autofocus=""
      class="search-input"
      type="text"
    />
  </div>
  <div
    *ngIf="!activatedCategoryFilter && modalService.modalType === 'activities'"
    class="category-quick-filter-container"
  >
    <button
      *ngFor="let category of categories"
      class="category-quick-filter"
      type="button"
      (click)="activateCategoryFilter(category)"
    >
      {{ category }}
    </button>
  </div>
  <div
    *ngIf="modalService.modalType === 'activities'"
    class="search-result-container"
  >
    <div
      *ngFor="let activity of filteredActivities"
      (click)="addActivity(activity); modalService.showModal = false"
      class="activity flex overflow-hidden"
    >
      <img [src]="activity.thumbnail" alt="image" class="activity-image" />
      <div class="flex justify-center items-center w-full">
        {{ activity.name }}
        <i
          class="fa-solid fa-circle-info ml-2 text-3xl cursor-pointer"
          (click)="$event.stopPropagation(); selectedActivity = activity"
        ></i>
      </div>
    </div>
  </div>
  <div
    *ngIf="modalService.modalType === 'setsOfActivities'"
    class="search-result-container"
  >
    <div
      *ngFor="let setOfActivities of filteredSetsOfActivities"
      (click)="addActivities(setOfActivities); modalService.showModal = false"
      class="activity flex overflow-hidden p-3"
    >
      <div class="grid grid-cols-2 gap-2 w-1/2">
        <img
          class="rounded-sm"
          [src]="getActivity(setOfActivities.activities[0])?.thumbnail"
        />
        <img
          class="rounded-sm"
          [src]="getActivity(setOfActivities.activities[1])?.thumbnail"
        />
        <img
          class="rounded-sm"
          [src]="getActivity(setOfActivities.activities[2])?.thumbnail"
        />
        <img
          class="rounded-sm"
          [src]="getActivity(setOfActivities.activities[3])?.thumbnail"
        />
      </div>
      <div class="pl-2">
        <span class="text-base">{{ setOfActivities.name }}</span
        ><br />
        {{ setOfActivities.description }}
      </div>
    </div>
  </div>
  <div
    class="description-container absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black/90 transition"
    [class.-translate-x-full]="!selectedActivity"
    [class.translate-x-0]="selectedActivity"
  >
    <i
      (click)="selectedActivity = null"
      class="fa-solid fa-arrow-left absolute text-2xl p-5 top-0 right-0 cursor-pointer"
    ></i>
    {{ selectedActivity?.description }}
  </div>
</div>
<div class="overlay" (click)="modalService.showModal = false"></div>
