<div class="flex justify-center items-center h-screen">
  <div class="bg-white p-10 rounded-md shadow-md mx-3">
    <!-- TODO: refactor text into seperate component -->
    <input
      type="text"
      placeholder="Username"
      class="w-full border border-gray-400 rounded-md p-3 mb-3"
    />
    <input
      type="password"
      placeholder="Password"
      class="w-full border border-gray-400 rounded-md p-3 mb-3"
    />
    <div class="text-right mb-3 text-gray-600 italic">
      <a href="#">Forgot password?</a>
    </div>
    <button
      type="submit"
      class="w-full rounded-md text-white uppercase tracking-widest shadow-lg shadow-indigo-800/50 p-3 bg-indigo-800"
    >
      Login
    </button>
  </div>
</div>
