<ng-container *ngFor="let date of authService.checkedInDates">
  <h1>
    {{ date }}
    <a
      [href]="
        authService.authObject.activitiesPerDate[date].googleDirectionLink
      "
      target="_blank"
      ><i class="fa-solid fa-map-location-dot"></i
    ></a>
  </h1>
  <div class="flex activities-container overflow-auto">
    <div
      *ngFor="
        let activity of authService.authObject.activitiesPerDate[date]
          .activities
      "
    >
      <app-activity [activity]="activity" [date]="date"></app-activity>
    </div>
    <div>
      <app-activity [date]="date"></app-activity>
    </div>
  </div>
</ng-container>
<app-modal></app-modal>
