<div class="background"></div>
<div *ngIf="authService.authObject; else loader" class="p-4 pb-12">
  <h1>
    Welcome to {{ authService.authObject?.homeCity }}
    {{ authService.authObject?.guestName }}
  </h1>
  <h2 class="max-w-md">
    This is a tool for planning your activities during your stay. The list of
    activities to choose from is a curated list by your host.
  </h2>
  <div *ngFor="let date of authService.checkedInDates" class="mb-4">
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      aria-label="Icon-button with a menu"
    >
      <span class="mr-2">{{ date }}</span>
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          [disabled]="
            authService.authObject.activitiesPerDate[date].activities.length ===
            0
          "
          [href]="
            authService.authObject.activitiesPerDate[date].googleDirectionLink
          "
          target="_blank"
          ><i class="fa-solid fa-map-location-dot mr-1"></i> Directions</a
        >
        <a
          mat-menu-item
          (click)="modalService.openModal(date, 'setsOfActivities')"
          target="_blank"
          ><i class="fa-solid fa-tree-city mr-1"></i> Sets of activities</a
        >
        <a
          entity="all activities for this date"
          mat-menu-item
          [disabled]="
            authService.authObject.activitiesPerDate[date].activities.length ===
            0
          "
          (appConfirm)="removeAllActivities(date)"
          [stopPropagation]="false"
          target="_blank"
          ><i class="fa-solid fa-trash-can mr-1"></i> Remove all activities</a
        >
      </mat-menu>
    </button>
    <div class="flex activities-container overflow-auto p-2">
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="drag-and-drop-container"
        (cdkDropListDropped)="drop($event, date)"
      >
        <div
          *ngFor="
            let activity of authService.authObject.activitiesPerDate[date]
              .activities
          "
        >
          <app-activity
            [activity]="activity"
            [date]="date"
            class="shadow-md"
            cdkDrag
            cdkDragLockAxis="x"
            cdkDragBoundary=".drag-and-drop-container"
          ></app-activity>
        </div>
      </div>
      <div>
        <app-activity [date]="date" class="shadow-md"></app-activity>
      </div>
    </div>
  </div>
</div>
<a
  routerLink="/"
  class="fixed bottom-0 h-10 w-full bg-white shadow-md shadow-gray-500 flex justify-center items-center"
>
  Powered by&nbsp;<span class="font-bold">City planner</span>
</a>
<ng-template #loader>
  <div class="flex justify-center pt-4">
    <mat-spinner class="stay-spinner"></mat-spinner>
  </div>
</ng-template>
<app-modal *ngIf="modalService.showModal"></app-modal>
